# --- Tidal Sync Specifics ---
# Local profile storage
.tidal_sync/
*.json


# Backups and Exports
import_reports/
exports/
account_transfer/
csv-files-go-here/
private/

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
uv.lock
.env

# --- OS & IDE ---
.DS_Store
.idea/
.vscode/
*.swp